.errorWrap {
  display: flex;
}

.errorIcon {
  margin: 150px auto;
  width: 300px;
  height: 300px;
  fill: grey;
}

.errorTextWrap {
  margin: 175px auto;
  color: gray;
}

h2 {
  font-size: xx-large;
}
